urllib3==1.24.3
robotframework==3.1.1
robotframework-seleniumlibrary==4.1.0
robotframework-debuglibrary==1.1.4
robotframework-requests==0.5.0
robotframework-faker==4.2.0
robotframework-pabot==0.91
robotframework-xvfb==1.2.2
jsonpath-ng==1.4.3
RESTinstance==1.0.2
selenium==3.141.0
BeautifulSoup4==4.4.1
xvfbwrapper==0.2.9
timeout-decorator==0.4.1
robotbackgroundlogger==1.2
numpy==1.14.5
pygments==2.7.4
opencv-python==4.1.0.25
httplib2
pytesseract==0.2.7
pyperclip==1.7.0
Faker==2.0.1
browsermob-proxy
configparser==3.7.4
requests==2.21.0
